header.header
  .header__inner
    h1.header__logo #[a(href="/" rel="home") Simple Food]
    nav.header__navigation(role="navigation" aria-label="Main")
      ul.header__navigation-list
        li.header__navigation-item #[a(href="/tips" id="tips" rel="tips") Tips]
        li.header__navigation-item #[a(href="/lifestyle" id="lifestyle" rel="lifestyle") Lifestyle]
        li.header__navigation-item #[a(href="/recipes" id="recipes" rel="recipes") Recipes] 
        li.header__navigation-item #[a(href="/about" id="about" rel="about") About]