mixin header(menu, title, isSticky)
  header.header(class=isSticky && 'header--sticky')&attributes(attributes)
    .header__inner
      h1.header__logo #[a(href="/" rel="home")= title]
      nav.header__navigation(role="navigation" aria-label="Main")
        ul.header__navigation-list
          each menuItem in menu
            li.header__navigation-item #[a(href="/" + menuItem.name id=menuItem.name rel=menuItem.name)= menuItem.name]
      button.header__toggle(role="button") 
        +svg("", "menu")(class="icon icon--menu")