
include ../components/_svg-sprite
include ../base/variables
include ../base/header
include ../base/footer

doctype html
html(lang="en")
  head
    title Blog
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, viewport-fit=cover, initial-scale=1.0")
    block extrastuff

  body
    main.main
      //- header
      +header(menu, header_logo, true)

      //- content
      block content

      //- footer
      +footer(menu, footer_copyright)
    
    block script
