
include ../components/_svg-sprite
include ../base/variables
include ../base/header

doctype html
html(lang="en")
  head
    title Blog
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, viewport-fit=cover, initial-scale=1.0")
    block extrastuff

  body
    main.main
      //- header
      +header(menu, "Simple Food", true)

      //- content
      block content
    
    block script
