article.about-blogger
  .about-blogger__inner
    figure.about-blogger__photo-blogger
      img(src="img/about-me.png", alt="about me")
    figcaption.about-blogger__about-me
      h2.about-blogger__title= about_blogger_title
      p.about-blogger__caption= about_blogger_caption
      p.about-blogger__description= about_blogger_description
      button.button.button-secondary #[span.text Learn more]