article.banner
  .banner__inner
    .banner__info
      h2.banner__title= banner_title
      p.banner__description.description= banner_description
      button.button.button-secondary(type="button") #[span.text= banner_button]
