article.card(id="id")
  figure.card__img
    img(src="img/cat.jpg", alt="cat", srcset="")
  p.subtitle category 
  p.title title
  p.description #[a(href="id.html" rel="bookmark") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit maiores consectetur dolorem voluptates, quis repellat eaque nesciunt voluptatum incidunt quod ipsa impedit eius porro ullam saepe quos, sit vero nam!]

