article.subscribe-block
  .subscribe-block__inner
    .subscribe-block__info
      h3.subscribe-block__title= subscribe_title
      p.subscribe-block__description= subscribe_description
    button.button.button-primary(type="button") #[span.text= subscribe_btn]