.blog-articles {
  background-color: $secondary;

  &__inner {
    margin: 0 auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    @include respond(laptop) {
      margin-left: calc(( 100% - #{$container-width} ) / 2 + 4rem);
    }
  }
}

// swiperg
.swiper-blog-article {
  position: relative;
  top: -5.6rem;
  left: 0;
  display: flex;
  margin-right: 0;
}

.swiper-slide {
  width: 29.3%;

  @include respond(laptop) {
    width: 33.3%;
  }
}
