extends ../base/layout

block extrastuff
  link(rel="stylesheet", href="css/swiper-bundle.min.css")
  link(rel="stylesheet", href="css/pages/homepage.min.css")

  script(src="js/swiper-bundle.min.js")

block content
  article.banner
    .banner__inner
      .banner__info
        h2.banner__title A blog for people who like simple food
        p.banner__description.description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
        button.button.button-secondary #[span.text See popular recipes]

  article.cards
    .cards__inner
      include ../components/_card
      include ../components/_card
      include ../components/_card

  article.recipes
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          include ../components/_card
        .swiper-slide
          include ../components/_card
        .swiper-slide
          include ../components/_card
          
block script
  script(src="js/homepage-bundle.min.js")
