extends ../base/layout

block extrastuff
  link(rel="stylesheet", href="css/swiper-bundle.min.css")
  link(rel="stylesheet", href="css/pages/homepage.min.css")

  script(src="js/swiper-bundle.min.js")

block content
  section.homepage
    //- banner
    include ../components/_banner

    //- Blog articles
    include ../components/_blog-articles

    //- Popular recipes
    include ../components/_popular-recipes

    //- Subscribe to the best food newsletter
    include ../components/_subscribe-block

    //- about blogger
    include ../components/_about-blogger
  
          
block script
  script(src="js/homepage-bundle.min.js")
