@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src:
    url('../../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../../fonts/montserrat-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src:
    url('../../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('../../fonts/montserrat-semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src:
    url('../../fonts/montserrat-medium-webfont.woff2') format('woff2'),
    url('../../fonts/montserrat-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src:
    url('../../fonts/montserrat-light-webfont.woff2') format('woff2'),
    url('../../fonts/montserrat-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'mrssaintdelafield';
  font-style: normal;
  font-weight: normal;
  src:
    url('mrssaintdelafield-regular-webfont.woff2') format('woff2'),
    url('mrssaintdelafield-regular-webfont.woff') format('woff');
}
