.header {
  background-color: $white;
  box-shadow: 0 -5px 10px $black;

  &__inner {
    @extend .container;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include respond(tablet) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    font-size: 3.2rem;
    line-height: 1.25;
    font-family: $font-family-secondary;
  }

  &__navigation {
    padding-top: 1rem;

    &-list {
      @include list-unstyled();
      display: flex;
      flex-direction: column;
      height: 0;
      visibility: hidden;

      @include respond(tablet) {
        display: flex;
        flex-direction: row;
        height: auto;
        visibility: visible;
      }
    }

    &-item {
      padding: 0.5rem 0;
      color: $gray-dark-v2;

      &:not(:last-of-type) {
        margin-right: 3rem;
      }

      a {
        font-size: $text;
      }
    }

    @include respond(tablet) {
      padding-top: 0;
    }
  }

  &__toggle {
    position: absolute;
    top: 3rem;
    right: 2rem;
    display: initial;
    align-self: flex-end;
    cursor: pointer;
    animation: slide 1s ease 3.5s forwards;

    &--show {
      display: flex;
      height: auto;
      visibility: visible;
    }

    @include respond(tablet) {
      height: 0;
      visibility: hidden;
    }
  }

  // modifiers
  &--sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

@keyframes slide {
  from {
    height: 0;
  }

  to {
    height: auto;
  }
}
