.header {
  box-shadow: 0 -5px 10px $black;

  &__inner {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
  }

  &__logo {
    font-size: 3.2rem;
    line-height: 1.25;
  }

  &__navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__navigation-item {
    color: $gray-dark-v2;

    &:not(:last-of-type) {
      margin-right: 3rem;
    }

    a {
      font-size: $text;
    }
  }
}
