.header {
  background-color: $white;
  box-shadow: 0 -5px 10px $black;

  &__inner {
    @extend .container;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include respond(tablet) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    font-size: 3.2rem;
    line-height: 1.25;
  }

  &__navigation {
    &-list {
      @include list-unstyled();
      display: none;

      @include respond(tablet) {
        display: flex;
      }
    }

    &-item {
      color: $gray-dark-v2;

      &:not(:last-of-type) {
        margin-right: 3rem;
      }

      a {
        font-size: $text;
      }
    }
  }

  &__toggle {
    position: absolute;
    display: initial;
    align-self: flex-end;
    cursor: pointer;

    &--show {
      display: flex;
      flex-direction: column;
    }

    @include respond(tablet) {
      display: none;
    }
  }

  // modifiers
  &--sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
